<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Detail"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_detail"
            android:theme="@style/FullscreenTheme"></activity>
        <activity
            android:name=".maytinh"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_maytinh"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".layout"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_layout"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>